/*!

 =========================================================
 * Material Dashboard React - v1.9.0 based on Material Dashboard - v1.2.0
 =========================================================

 * Product Page: http://www.creative-tim.com/product/material-dashboard-react
 * Copyright 2020 Creative Tim (http://www.creative-tim.com)
 * Licensed under MIT (https://github.com/creativetimofficial/material-dashboard-react/blob/master/LICENSE.md)

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */
.ct-grid {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
  stroke: rgba(255, 255, 255, 0.8);
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label {
  color: rgba(255, 255, 255, 0.7);
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  line-height: 1;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #eeeeee;
  color: #3c4858;
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

blockquote footer:before,
blockquote small:before {
  content: "\2014 \00A0";
}

small {
  font-size: 80%;
}

h1 {
  font-size: 3em;
  line-height: 1.15em;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

h4 {
  font-size: 1.3em;
  line-height: 1.4em;
}

h5 {
  font-size: 1.25em;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 500;
}

body {
  background-color: #eeeeee;
  color: #3c4858;
}

blockquote p {
  font-style: italic;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
}

a {
  color: #9c27b0;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #89229b;
  text-decoration: none;
}

legend {
  border-bottom: 0;
}

/* * {
  -webkit-tap-highlight-color: rgba(224, 206, 206, 0);
  -webkit-tap-highlight-color: transparent;
} */

*:focus {
  outline: 0;
}

a:focus,
a:active,
button:active,
button:focus,
button:hover,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

legend {
  margin-bottom: 20px;
  font-size: 21px;
}

output {
  padding-top: 8px;
  font-size: 14px;
  line-height: 1.42857;
}

label {
  font-size: 14px;
  line-height: 1.42857;
  color: #aaaaaa;
  font-weight: 400;
}

footer {
  padding: 15px 0;
}

footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

footer ul li {
  display: inline-block;
}

footer ul li a {
  color: inherit;
  padding: 15px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}

footer ul li a:hover {
  text-decoration: none;
}

@media (max-width: 991px) {
  body,
  html {
    position: relative;
    overflow-x: hidden;
  }

  #bodyClick {
    height: 100%;
    width: 100%;
    position: fixed;
    opacity: 0;
    top: 0;
    left: auto;
    right: 260px;
    content: "";
    z-index: 9999;
    overflow-x: hidden;
  }
}
.fixed-plugin {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  position: fixed;
  top: 180px;
  right: 0;
  width: 64px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
  top: 120px;
  /* badge-primary-background-color: #9c27b0; */
}

.fixed-plugin .SocialMediaShareButton,
.fixed-plugin .github-btn {
  display: inline-block;
}

.fixed-plugin li > a,
.fixed-plugin .badge {
  transition: all 0.34s;
  -webkit-transition: all 0.34s;
  -moz-transition: all 0.34s;
  text-decoration: none;
}

.fixed-plugin .fa-cog {
  color: #ffffff;
  padding: 10px;
  border-radius: 0 0 6px 6px;
  width: auto;
}

.fixed-plugin .dropdown-menu {
  right: 80px;
  left: auto;
  width: 290px;
  border-radius: 0.1875rem;
  padding: 0 10px;
  position: absolute;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
  border-radius: 3px;
}

.fixed-plugin .fa-circle-thin {
  color: #ffffff;
}

.fixed-plugin .active .fa-circle-thin {
  color: #00bbff;
}

.fixed-plugin .dropdown-menu > .active > a,
.fixed-plugin .dropdown-menu > .active > a:hover,
.fixed-plugin .dropdown-menu > .active > a:focus {
  color: #777777;
  text-align: center;
}

.fixed-plugin img {
  border-radius: 0;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.fixed-plugin .dropdown-menu li > a:hover,
.fixed-plugin .dropdown-menu li > a:focus {
  box-shadow: none;
}
.fixed-plugin .badge {
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 23px;
  margin-right: 5px;
  position: relative;
  width: 23px;
  background-color: rgba(30, 30, 30, 0.97);
}

.fixed-plugin .badge.active,
.fixed-plugin .badge:hover {
  border-color: #00bbff;
}

.fixed-plugin .badge-purple {
  background-color: #9c27b0;
}

.fixed-plugin .badge-blue {
  background-color: #00bcd4;
}

.fixed-plugin .badge-green {
  background-color: #4caf50;
}

.fixed-plugin .badge-orange {
  background-color: #ff9800;
}

.fixed-plugin .badge-red {
  background-color: #f44336;
}

.fixed-plugin h5 {
  font-size: 14px;
  margin: 10px;
}
.fixed-plugin .dropdown-menu li {
  display: block;
  padding: 4px 0px;
  width: 25%;
  float: left;
}

.fixed-plugin li.adjustments-line,
.fixed-plugin li.header-title,
.fixed-plugin li.button-container {
  width: 100%;
  height: 50px;
  min-height: inherit;
  padding: 0px;
  text-align: center;
}

.fixed-plugin li.adjustments-line p {
  margin: 0;
}

.fixed-plugin li.adjustments-line div,
.fixed-plugin li.header-title div,
.fixed-plugin li.button-container div {
  margin-bottom: 5px;
}
.fixed-plugin li.header-title {
  height: 30px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.fixed-plugin .adjustments-line p {
  /* float: left; */
  display: inline-block;
  margin-bottom: 0;
  font-size: 1em;
  color: #3c4858;
}

.fixed-plugin .adjustments-line a {
  color: transparent;
}

.fixed-plugin .adjustments-line a .badge-colors {
  position: relative;
  top: -2px;
}

.fixed-plugin .adjustments-line a a:hover,
.fixed-plugin .adjustments-line a a:focus {
  color: transparent;
}
.fixed-plugin .adjustments-line .dropdown-menu > li.adjustments-line > a {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  margin: 0;
}

.fixed-plugin .dropdown-menu > li > a.img-holder {
  font-size: 16px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #fff;
  padding-left: 0;
  padding-right: 0;
  opacity: 1;
  cursor: pointer;
  display: block;
  max-height: 100px;
  overflow: hidden;
  padding: 0;
}

.fixed-plugin .dropdown-menu > li > a.img-holder img {
  margin-top: auto;
}
.fixed-plugin .dropdown-menu > li:hover > a.img-holder,
.fixed-plugin .dropdown-menu > li:focus > a.img-holder {
  border-color: rgba(0, 187, 255, 0.53);
}

.fixed-plugin .dropdown-menu > .active > a.img-holder,
.fixed-plugin .dropdown-menu > .active > a.img-holder {
  border-color: #00bbff;
  background-color: #ffffff;
}
.fixed-plugin .dropdown .dropdown-menu {
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -o-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  top: 27px;
  opacity: 0;
  transform-origin: 0 0;
  display: none;
}

.fixed-plugin .dropdown .dropdown-menu:before {
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid rgba(0, 0, 0, 0.2);
  border-top: 0.4em solid transparent;
  right: -16px;
  top: 46px;
}
.fixed-plugin .dropdown .dropdown-menu:after {
  border-bottom: 0.4em solid transparent;
  border-left: 0.4em solid #ffffff;
  border-top: 0.4em solid transparent;
  right: -16px;
}

.fixed-plugin .dropdown .dropdown-menu:before,
.fixed-plugin .dropdown .dropdown-menu:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 46px;
  width: 16px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}

.fixed-plugin .dropdown.show .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(-13%);
  -moz-transform: translateY(-13%);
  -o-transform: translateY(-13%);
  -ms-transform: translateY(-13%);
  transform: translateY(-13%);
  transform-origin: 0 0;
}
.fixed-plugin.rtl-fixed-plugin {
  right: auto;
  left: 0px;
  border-radius: 0 8px 8px 0;
}
.fixed-plugin.rtl-fixed-plugin .dropdown-menu {
  right: auto;
  left: 80px;
}
@media print { 
  .no-printme  { display: none;}
  .printme  { display: block;}
}
* {
  letter-spacing: normal !important;
}
.textfield{
  width:150px;
  height:40px;
  border: 1px solid #523772;
  border-radius: 4px;
}
.textfield1{
  width:150px;
  height:34px;
  border: 1px solid #523772;
  padding: 2px;
  border-radius: 4px;
}
.btn{
  width:50px;
  height:40px;
  border: 1px solid #523772;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(0, 255, 200);
  cursor: pointer;
}
.pdf{
  width:100px;
  height:40px;
  border: 1px solid #523772;
  padding: 2px;
  border-radius: 4px;
  background-color:  rgb(0, 255, 200);
  cursor: pointer;
}
.main{
  margin-top: -108px;
  border-bottom: 1px solid rgb(65, 61, 61);
  color: black;
}
.content{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
}
.logoside{
  background-color: rgb(0, 0, 0);
  /* display: grid; */
  /* align-items: center; */
  /* grid-template-columns: repeat(auto-fit, minmax(40px, 4fr)); */
  /* justify-items: center; */
  /* color: #fcf9f3; */
  /* font-size: medium; */
  /* font-weight: 500; */
  margin-top: -25px;
  width: 100%;
  height: 18px;
  /* position: fixed; */
}

.logoside1{
  display: grid;
  align-items: center;
  justify-items: center;
  margin: auto;
  /* width: 50%;
  height: 80; */
}
.name{
  font-size: 1.8em;
  font-weight: 900;
  padding: 5px;
  /* margin-top: auto; */
  font-family:'';
}
.gstd{
  display: grid;
  justify-items: end;
  padding: 5px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}
.address{
  justify-items: start;
  padding: -8px;
  margin-left: 5px;
  width: 271px;
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}
.datetime{
  display: grid;
  padding: 5px;
  margin-top: -80px;
  font-size: .8em;
  font-weight: bold;
  margin-bottom: -3px;
}
/* .invno{
  margin-top: 5px;
} */
.invhead{
  display: grid;
  justify-items: center;
  padding: 8px;
  margin-top: -44px;
  font-size: 1.1em;
  margin-top: -55px;
}
.table {
  border: 1px solid rgb(15, 15, 15);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: -19px;
}
.table2 {
  border: 1px solid rgb(15, 15, 15);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: -8px;
}

.table1 {
  border: 1px solid rgb(0, 0, 0);
  font-size: .8em;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  margin-top: 2px;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
 .th, .td {
  text-align: center;
  color: black;
  border: 1px solid rgb(22, 21, 21);
}

.tdtotal{
  font-size: .8em;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
}

.th {
  font-size: .8em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: rgb(182, 178, 178);
}
.td {
  font-size: .8em;
  letter-spacing: .1em;
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  .th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .tr {
    border-bottom: 3px solid #ddd;
    margin-bottom: .625em;
  }
  
  .td {
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    text-align: center;
  }

  .tdtotal{
    border-bottom: 1px solid #ddd;
    font-size: .8em;
    text-align: center;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
.words{
  display: grid;
  justify-items: start;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  margin-top: -35px;
}
.terms{
  margin-top: -8px;
}
.foo1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  padding-top: 25px;
  font-size: .8em;
}
.foo2{
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  font-size: .8em;
  font-weight: bold;
  margin-top: 6px;
}
.logout{
  font-size: .9em;
  font-weight: bold;
  /* padding-right: 30px; */
  cursor: pointer;
  color: #121414;
  margin-right: 30px;
  border: 2px solid black;
}
.rules{
  padding-left: 0px;
  font-size: .8em;
  margin-top: 6px;
  margin-bottom: -36px;
  justify-items: start;
  width: 450px;
  line-height:12px
}
.termsp{
  margin-top: 3px;
}
.rulesp{
  padding-left: 0px;
  margin-top: -10px;
  margin-bottom: -32px;
  justify-items: start;
  width: 450px;
  line-height:12px
}
.repayment{
  display: grid;
  justify-items: start;
  padding: 5px;
  font-size: .9em;
  font-weight: bold;
}
.paybtn{
  width:50px;
  height:30px;
  border: 1px solid #523772;
  padding: 2px;
  border-radius: 4px;
  background-color: rgb(10, 190, 149);
  cursor: pointer;
  margin-top: 17px;
  color: floralwhite;
}
.gst{
  margin-left: 15px;
}
.auths{
  display: grid;
  justify-items: end;
}
.termscondition{
margin-left: 20px; 
}
.rgst{
  margin-bottom: -8px;
}
.th1{
  text-align: right;
  background-color: rgb(182, 178, 178);
  font-size: medium;
}
.th2{
  text-align: left;
  background-color: rgb(182, 178, 178);
  font-size: medium;
}
.th3{
  text-align: center;
  background-color: rgb(182, 178, 178);
  font-size: medium;
}
.date{
  width: 100%;
}
.date1{
  width: 40%;
  font-size: .8em;
  float: left;
  margin-top: 11px;
}
.date2{
  width: 20%;
  text-align: right;
  font-size: .8em;
  float: right;
  margin-top: 11px;
}
.th10{
  text-align: left;
  font-size: large;
  border: 2px solid black;
}
.th11{
  text-align: right;
  font-size: medium;
  border: 2px solid black;
}
.tr{
  border: 1px solid black;
}
.td1{
  border: 1px solid black;
  text-align: left;
  font-size: small;
  border-right: none;
}
.td2{
  border: 1px solid black;
  text-align: center;
  font-size: small;
}
.td3{
  text-align: center;
  font-size: small;
  border-left: none;
}
.app{
  background-image: url('../img/back.jpeg');
  /* background-color: #6ae4da; */
  /* text-align: right;   */
  color: #111010;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  margin-left: 400px;
  margin-top: 150px;  
}
.app1{
  text-align: center;
  height: 100;
}
.h{
  margin-top: -60px;
}

